*{
	padding: 0;
	margin:0;
}

/*Login form*/
.form-login{
	margin-top: 10%;
}

.form-login form{
	width: 40%;
	margin: auto;
}
form{
	background: #fff;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

form p{
	font-size: 20px;
	color: #616161;
	border-bottom: 1px solid #BDBDBD;
}

form input{
	display: block;
	margin: auto;
}
form input[type="text"],form input[type="password"]{
	padding: 10px;
	width: 50%;
	border: none;
	border-bottom: 1px solid #757575;
	border-radius: 3px;
	font-size:17px;
	margin-top:3%;
}

form a{
	color: #fff;
	background: #6ab344;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	text-decoration: none;
	text-align: center;
	padding:10px;
}

.form-login .layout-btns{
	margin-left: 23%;
	margin-top: 5%;
}

.contenedorModal{
	background: rgba(224, 224, 224, 0.7);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/*modal recuperar contraseña administrador*/
.recContra{
	width: 40%;
	margin-top: 10%;
  margin-left: 25%;	
	overflow:auto;
}
.recContra input{
	margin: 0;
	width: 100%;
}
.recContra a{
	display: inline-block;
	margin-top:2%;	
}

/*modulo pedido*/

.flotante {
	display:inline-block;
	background-color: #d23f31;
  	height: 56px;
  	position: fixed;
  	width: 56px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  	cursor: pointer;
  	border-radius: 50%;
	color: #fff;
	bottom: 45px;
 	right: 24px;
	text-align: center;
	font-size:14px;
	text-decoration:none;
	line-height: 54px;
}
.menuLateral{
	display: inline-block;
	width: 15%;
  background: #fff;
  height: 200px;
	margin-top:4%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.menuLateral p{
	font-size: 20px;
	background: #ffab40;
	color: #fff;
	padding-left: 5%; 
}

.menuLateral ul{
	margin-top: 4%;
	margin-left: 9%;
}

.menuLateral li{
	margin-top: 6%;
}
.menuLateral a{
	color: #616161;
	text-decoration: none;
}

.menuLateral a:hover{
	text-decoration: blue;
}


